.collection-item {
    width: 22vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .collection-footer {
      width: 90%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      padding-bottom: 30px;
      .name {
        width: 80%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 20%;
      }

      @media screen and (max-width: 800px){
        font-size: 13px;
    }
    }

    @media screen and (max-width: 800px){
      width: 40vw;
   }
  }
  