.checkout-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
    @media screen and (max-width: 800px){
      font-size: 15px;
    }
    

    .image-container {
      width: 23%;
      padding-right: 15px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name,
    .quantity,
    .price {
      width: 23%;
    }

  
  
    .quantity {
      padding-left: 20px;
      display: flex;

      .quantity_figure{
        padding: 0px 10px;

      }
      .quantity_control{
        font-size: 20px;
        cursor: pointer;

        @media screen and (max-width: 800px){
          font-size: 15px;
        }
        
      }
    }
  
    .remove-button {
      padding-left: 12px;
      cursor: pointer;
      
    }
  }
  